<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Forum Index</title>
    <link href="../style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 style="text-align:center">{{forum_name}}</h1>
    <p><a href="../index.html">Back to Forum Index</a><br />
<div id="phpbbforum-page">
    <div class="forabg">
        <div class="inner"><span class="corners-top"><span></span></span>
            <ul class="topiclist">
                <li class="header">
                    <dl class="icon">
                        <dt>Topics</dt>
                        <dd class="posts">Replies</dd>
                        <dd class="views">Views</dd>
                        <dd class="lastpost"><span>Posted</span></dd>
                    </dl>
                </li>
            </ul>

            <ul class="topiclist forums">
        {% set counter = 0 -%}
        {% for topic in topics -%}
            {% if topic['forum_id'] == forum_id%} 
                <li class="row">
                    <dl class="icon">
                        <dt title="No unread posts"><a href="{{topic['topic_id']}}.html" class="forumtitle">{{ topic['topic_title']}}</a><!-- <br>{{ topic['username'] }} -->
                        </dt>
                        <dd class="posts">{{ topic['topic_replies'] }}<dfn>Replies</dfn></dd>
                        <dd class="views"><dfn>Views</dfn></dd>
                        <dd class="lastpost"><span>
                            <dfn>Last post</dfn> by <a href="" style="color: #00AA00;" class="username-coloured">{{ topic['username'] }}</a>
<a href="">View the latest post</a> <br>{{ topic['post_time'] }}</span>
                        </dd>
                    </dl>
                </li> <!-- /row -->
            {% endif %}
        {% set counter = counter + 1 -%}
        {% endfor -%}
            </ul> <!-- /topiclist forums -->
        </div> <!-- /inner -->
    </div> <!-- /forabg -->
</div> <!-- /phpbbforum-page -->
</body>
</html>
